body {
  color: palegoldenrod;
  background-color: bisque;
}

.container {
  background-color: blueviolet;
  width: 500px;
  height: auto;
  padding:10px;
  margin: 5px;
  border-block: 5px;
  text-align: center;

}